{% extends 'core/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <h2 class="fw-bold">

                    Bienvenido, {{ request.user.nombre_completo }}

                </h2>

                <p class="text-muted">

                    Panel de Administración del SSCA - UTT

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}